.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
    &__nav{
        display: flex;
        align-items: center;
        overflow-wrap: anywhere;
    }
    &__logo{
      max-width: 12.5rem;
      display: flex;
      align-self: start;
    }
    &__links{
      display: flex;
      flex-wrap: wrap; 
      margin-left: 5px;
    }
    &__navlink{
      display: flex;
      flex-wrap: wrap;
      color: #901c1c;
      font-weight: 500;
      margin-left: 10px;
      padding: 0.2rem 0.4rem;
      border: solid 0.1rem #c4c4c4;
      border-radius: 1.5rem;
      &:hover, &:focus {
        outline: none;
        color: white;
        background-color: #901c1c;
        border: solid 0.1rem #901c1c;
      }
    }
}
#scroll__div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
    
}
#scroll__topbtn {
  position: fixed;
    display: block;
    border: none;
    outline: none;
    background-color: #DB8876;
    cursor: pointer;
    color: black;
    text-align: center;
    margin-top: 4rem;
    height: 30px;
    width: 182px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 5;
  }
.main{
  position: relative;
}
  .section1{
    &__title{
      position: absolute;
      top: -3rem;
      right: 2rem;
      font-size: 2.2rem;
      color: #901c1c;
    }
  }

  #photographs{
      display: flex; 
      flex-wrap: wrap;
      margin-right: 150px;
      
      
      a{
        width: 12%;
      }
  }

  .main__frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
    .card {
      display: flex;
      margin-top: 50px;
      width: 20%;
      
  
      &__text{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
      }
      &__img{
          width: 250px;
          height: 250px;
          border-radius: 100%;
          object-fit: cover;
      }
      &__name{
        color: #D3573C;
        font-size: 36px;
        font-weight: 400;
        white-space: nowrap;
      }
      &__city{
        font-size: 13px;
        font-weight: 400;
        color: #901C1C;
        white-space: nowrap;
      }
      &__country{
        font-size: 13px;
        font-weight: 400;
        color: #901C1C;
      }
      &__quote{
        font-size: 10px;
        font-weight: 400;
        color: #000000;
        margin-top: 5px;
        white-space: nowrap;
      }
      &__price{
        font-size: 9px;
        font-weight: 400;
        color: #757575;
        margin-top: 5px;
      }
      &__tag{
        font-size: 12px;
        font-weight: 500;
        color: #901C1C;
        margin-top: 10px;
       span{
        border: solid 0.1rem #c4c4c4;
        border-radius: 1.5rem;
        margin-right: 5px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          color: white;
          background-color: #901c1c;
          border: solid 0.1rem #901c1c;
        }
       }
      }
  }
  @media (max-width:1440px){
    .section1{
      &__title{ 
        color: #901C1C;
        font-size: 2.2rem;
        font-weight: 600;
        margin-top: -130px;
        margin-right: 0;
      }
    }
    #photographs{
      display: flex; 
      flex-wrap: wrap;
      margin-right: 150px;
      
      
      a{
        width: 12%;
      }
  }

  .main__frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
    .card {
      display: flex;
      margin-top: 50px;
      width: 20%;
      
  
      &__text{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
      }
      &__img{
          width: 250px;
          height: 250px;
          border-radius: 100%;
          object-fit: cover;
      }
      &__name{
        color: #D3573C;
        font-size: 36px;
        font-weight: 400;
        white-space: nowrap;
      }
      &__city{
        font-size: 13px;
        font-weight: 400;
        color: #901C1C;
        white-space: nowrap;
      }
      &__country{
        font-size: 13px;
        font-weight: 400;
        color: #901C1C;
      }
      &__quote{
        font-size: 10px;
        font-weight: 400;
        color: #000000;
        margin-top: 5px;
        white-space: nowrap;
      }
      &__price{
        font-size: 9px;
        font-weight: 400;
        color: #757575;
        margin-top: 5px;
      }
      &__tag{
        font-size: 12px;
        font-weight: 500;
        color: #901C1C;
        margin-top: 10px;
       span{
        border: solid 0.1rem #c4c4c4;
        border-radius: 1.5rem;
        margin-right: 5px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          color: white;
          background-color: #901c1c;
          border: solid 0.1rem #901c1c;
        }
       }
      }
  }
.header{
  &__nav{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
  }
  &__logo{
      height: 39px;
      margin-bottom: 15px;
      margin-left: 0;
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      margin-left: 100px;
      width: 80%;
    align-self: center;
      
  }
  &__navlink{
      margin-right: 20px;
      font-size: 24px;
      font-weight: 500;
      margin-top: 20px;
      color: #901C1C;
  }
}
}
  @media (max-width:1200px){
    .section1{
      &__title{ 
        color: #901C1C;
        font-size: 2.2rem;
        font-weight: 600;
        margin-top: -130px;
        margin-right: 0;
      }
    }
    #photographs{
      display: flex; 
      flex-wrap: wrap;
      margin-right: 150px;
      
      
      a{
        width: 22%;
      }
  }

  .main__frame{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
    .card {
      display: flex;
      margin-top: 50px;
      width: 20%;
      
  
      &__text{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
      }
      &__img{
          width: 250px;
          height: 250px;
          border-radius: 100%;
          object-fit: cover;
      }
      &__name{
        color: #D3573C;
        font-size: 36px;
        font-weight: 400;
        white-space: nowrap;
      }
      &__city{
        font-size: 13px;
        font-weight: 400;
        color: #901C1C;
        white-space: nowrap;
      }
      &__country{
        font-size: 13px;
        font-weight: 400;
        color: #901C1C;
      }
      &__quote{
        font-size: 10px;
        font-weight: 400;
        color: #000000;
        margin-top: 5px;
        white-space: nowrap;
      }
      &__price{
        font-size: 9px;
        font-weight: 400;
        color: #757575;
        margin-top: 5px;
      }
      &__tag{
        font-size: 12px;
        font-weight: 500;
        color: #901C1C;
        margin-top: 10px;
       span{
        border: solid 0.1rem #c4c4c4;
        border-radius: 1.5rem;
        margin-right: 5px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          color: white;
          background-color: #901c1c;
          border: solid 0.1rem #901c1c;
        }
       }
      }
  }
.header{
  &__nav{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
  }
  &__logo{
      height: 39px;
      margin-bottom: 15px;
      margin-left: 0;
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      margin-left: 0;
      width: 80%;
    align-self: center;
      
  }
  &__navlink{
      margin-right: 20px;
      font-size: 24px;
      font-weight: 500;
      margin-top: 20px;
      color: #901C1C;
  }
}
}
  
  @media (max-width:800px){
    .section1{
      &__title{ 
        color: #901C1C;
        font-size: 2.2rem;
        font-weight: 600;
        margin-top: -190px;
        margin-right: 0;
      }
    }
#photographs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.card{
     width: 130%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      margin-top: 50px;
      &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__img{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        object-fit: cover;
    }
    &__name{
      color: #D3573C;
      font-size: 36px;
      font-weight: 400;
      white-space: nowrap;
    }
    &__city{
      font-size: 13px;
      font-weight: 400;
      color: #901C1C;
    }
    &__country{
      font-size: 13px;
      font-weight: 400;
      color: #901C1C;
    }
    &__quote{
      font-size: 10px;
      font-weight: 400;
      color: #000000;
      margin-top: 5px;
    }
    &__price{
      font-size: 9px;
      font-weight: 400;
      color: #757575;
      margin-top: 5px;
    }
    &__tag{
      font-size: 12px;
      font-weight: 400;
      color: #901C1C;
      margin-top: 5px;
    }
}
.header{
  &__nav{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
  }
  &__logo{
      height: 39px;
      margin-bottom: 15px;
      margin-left: 0;
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      margin-left: 0;
      width: 80%;
    align-self: center;
      
  }
  &__navlink{
      margin-right: 20px;
      font-size: 24px;
      font-weight: 500;
      color: #901C1C;
  }
}
}