.header__logo{
  margin-left: 100px;
}

//section 1
.sect{
    &__div1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px 0px 0px 100px;
    }
    &__contact{
        display: flex;
        align-items: center;
    }
    &__description{
   margin-top: -110px;
    }
    &__title{
        font-size: 64px;
        font-weight: 400;
        color: #D3573C;
        white-space: nowrap;
    }
    &__region{
      display: flex;
      flex-direction: row;
    }
    &__title2{
        color: #901C1C;
        font-weight: 400;
        font-size: 24px;
    }
    &__title3{
      color: #901C1C;
      font-weight: 400;
      font-size: 24px;
      margin-left: 10px;
  }
    &__subtitle{
        color: #525252;
        font-weight: 400;
        font-size: 18px;
        margin-top: 20px;
    }
    &__btn{
        background-color: #901C1C;
        color: white;
        border-radius: 5px;
        width: 170px;
        height: 69px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-left: 100px;
    }
    &__photo{
    object-fit: cover;
    border-radius:50%;
    width: 200px;
    height: 200px;
    margin-left: 300px;
    margin-top: 120px;
    }
    &__nav{
        display: flex;
        margin-top: 20px;
        color: #901C1C;
        margin-left: 0px;
        
    }
    &__links{
        display: flex;
        
    }
    &__navlink{
        margin: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #901C1C;
    }
}
#photographer__photo img{
  object-fit: cover;
    border-radius:50%;
    width: 200px;
    height: 200px;
    margin-right: 150px;
    margin-top: 10px;
}
//section 1 end

//modal
.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(296, 296, 296, 0.4);
  }
  
  .content {
    margin: 5% auto;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #DB8876;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #000000;
    padding-top: 10px;
    width: 669px;
    height: 900px;
  }
  
  .modal-body {
    margin-left: 35px;
    margin-top: 30px;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 42px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 42px;
    width: 5px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .btn-submit {
    background: #901C1C;
    display: block;
    margin-top: 30px;
    border-radius: 5px;
    width: 170px;
    height: 69px;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 52px;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
  }

  .text-control {
    width: 599px;
    border-radius: 5px;
    font-size: 50px;
    height: 68px;
    border: none;
    outline: none;
  }
  #message{
      height: 170px;
  }
  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
  }
  .mod-title{
      font-size: 64px;
      font-weight: 400;
      margin-left: 35px;
  }
  #subject{
      width: 599px;
      height: 170px;
      font-size: 50px;
      border: none;
      outline: none;
  }
  .size{
      font-size: 36px;
      font-weight: 400;
      line-height: 46.87px;
  }
  //modal end

  //section 2
.sect2{
    &__header{
      display: flex;
      align-items: center;
      margin-left: 70px;
      margin-top: 60px;
    }
}

  //Dropdown Menu

  
  
    .dropdown__main {
      display: inline-block;
      position: relative;
      user-select: none;
      width: 160px;
    }
    .dropdown__select {
      display: flex;
      flex-direction: column;
    }
    .dropdown__trigger{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 22px;
      font-size: 18px;
      font-weight: 300;
      color: white;
      height: 55px;
      line-height: 60px;
      background-color: #901C1C;
      cursor: pointer;
      border-radius: 5px;
      transition: .2s;
    }
    
    .dropdown__menu{
      position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #901C1C;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  & .dropdown-option {
    position: relative;
    display: block;
    padding: 0 22px 0 12px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        cursor: pointer;
        background-color: #b82121;
        border-radius: 5px;
      }
  }
}
    .dropdown__select.open .dropdown__menu {
      margin-top: 4px;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      border-radius: 5px;
    }
  
  
    .arrow {
      position: relative;
      height: 15px;
      width: 15px;
      &::before, &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0.15rem;
        height: 100%;
      }
      &::before {
        left: -5px;
        transform: rotate(135deg);
        background-color: white;
      }
      &::after {
        left: 5px;
        transform: rotate(-135deg);
        background-color: white;
      }
    }
    
    
    .open .arrow::before {
      left: 5px;
      transform: rotate(135deg);
    }
    
    .open .arrow::after {
      left: -5px;
      transform: rotate(-135deg);
    }
//dropdown menu end
.cards{
&__img{
  object-fit: cover;
  width: 350px;
  height: 300px;
  
  
  }
}
#photographers__photos{
  display: flex; 
  flex-wrap: wrap; 
  a{
    width: 5%;
    margin: 0 3%;
  }
}
.main__card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 20%;
}
  .photographs__pictures{
      width: 350px;
      height: 300px;
      border-radius: 2%;
      object-fit: cover;
  }
  .photo__info{
    display: flex;
}

  .photo__title{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
  }
  .photo__price{
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
    white-space: nowrap;
  }
  .photo__likes{
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
  }

  .fontIcon{
    font-size: 25px;
    font-weight: 400;
    color: #901C1C;
  }