html{
  padding: 0.5rem 6.25rem 2.5rem;
    max-width: 1440px;
    position: relative;
    margin: auto;
}
.container__photo{
  display: flex;
  margin: 0;
  flex-direction: column;
}
//section 1
.sect{
  display: flex;
  padding: 3rem 2.5rem;
  position: relative;
  background-color: #fafafa;
  
    &__contact{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        
    }
    &__name{
      font-size: 4rem;
      font-weight: 400;
      padding-bottom: 1rem;
        color: #D3573C;
    }
    &__region{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__city{
        color: #901C1C;
        font-weight: 400;
        font-size: 24px;
        white-space: nowrap;
    }
    &__country{
      color: #901C1C;
      font-weight: 400;
      font-size: 24px;
      margin-left: 10px;
      white-space: nowrap;
  }
    &__subtitle{
        color: #525252;
        font-weight: 400;
        font-size: 18px;
        margin-top: 20px;
    }
    &__btn{
  background-color: #901C1C;
  color: white;
  font-size: 1.2rem;
  border: none;
  color: white;
  padding: 0.8rem 0.5rem;
  border-radius: 0.3rem;
  outline-style: none;
  cursor: pointer;
  height: 69px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
    }
    &__photo{
      width: 12.5rem;
      height: 12.5rem;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      right: 2.5rem;
      display: flex;
      align-self: center;
    }
    &__nav{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: -0.3rem;
      padding-top: 1rem; 
      color: #901C1C; 
      &::child{
        border: #525252;
      }
    }
}

#photographer__photo img{
  object-fit: cover;
    border-radius:50%;
    width: 100%;
    margin-right: 150px;
    margin-top: 10px;
}
//section 1 end

//modal
.bground {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(296, 296, 296, 0.4);
  }
  
  .content {
    margin: 5% auto;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #DB8876;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #000000;
    padding-top: 10px;
    width: 669px;
    height: 900px;
  }
  
  .modal-body {
    margin-left: 35px;
    margin-top: 30px;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 42px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 42px;
    width: 5px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .btn-submit {
    background: #901C1C;
    display: block;
    margin-top: 30px;
    border-radius: 5px;
    width: 170px;
    height: 69px;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 52px;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
  }

  .text-control {
    width: 599px;
    border-radius: 5px;
    font-size: 50px;
    height: 68px;
    border: none;
    outline: none;
  }
  #message{
      height: 170px;
  }
  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
  }
  .mod-title{
      font-size: 3rem;
      font-weight: 400;
      margin-left: 35px;
  }
  #subject{
      width: 599px;
      height: 170px;
      font-size: 50px;
      border: none;
      outline: none;
  }
  .size{
      font-size: 36px;
      font-weight: 400;
      line-height: 46.87px;
  }
  //modal end

  //section 2
.sect2{
    &__header{
      display: flex;
      align-items: center;
      
      margin-top: 60px;
    }
}

  //Dropdown Menu

  
  
    .dropdown__main {
      display: inline-block;
      position: relative;
      user-select: none;
      width: 160px;
      margin-left: 20px;
    }
    .dropdown__select {
      display: flex;
      flex-direction: column;
    }
    .dropdown__trigger{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 13px;
      font-size: 18px;
      font-weight: 300;
      color: white;
      height: 55px;
      line-height: 60px;
      background-color: #901C1C;
      cursor: pointer;
      border-radius: 5px;
      transition: .2s;
    }
    
    .dropdown__menu{
      position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  top: 100%;
  left: 0;
  padding: 10px 8px 10px 8px;
  right: 0;
  background-color: #901C1C;
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  & .dropdown-option {
    position: relative;
    display: block;
    padding: 0 22px 0 12px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    line-height: 60px;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        background-color: #b82121;
        border-radius: 5px;
      }
  }
}
    .dropdown__select.open .dropdown__menu {
      margin-top: 4px;
      opacity: 1;
      visibility: visible;
      margin-top: -50px;
      font-size: 18px;
    font-weight: 300;
    cursor: pointer;
      pointer-events: all;
      border-radius: 5px;
    }
    .dropdown__option1{
      padding: 0px 0 15px 0;
      margin-left: 5px;
    }
    .dropdown__border1{
      border: 1px solid white;
    }
  .dropdown__option2{
  //   border-top: 1px solid white;
    padding: 15px 0 15px 0;
    margin-left: 5px;
  //   margin-top: 10px;
  //   border-bottom: 1px solid white;
  }
  .dropdown__border2{
    border: 1px solid white;
  }
  .dropdown__option3{
    padding: 15px 0 10px 0;
    margin-left: 5px;
  }
    .arrow {
      position: relative;
      height: 15px;
      width: 15px;
      z-index: 3;
      &::before, &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0.15rem;
        height: 100%;
      }
      &::before {
        left: -5px;
        transform: rotate(135deg);
        background-color: white;
      }
      &::after {
        left: 5px;
        transform: rotate(-135deg);
        background-color: white;
      }
    }
    
    
    .open .arrow::before {
      left: 5px;
      transform: rotate(135deg);
    }
    
    .open .arrow::after {
      left: -5px;
      transform: rotate(-135deg);
    }
//dropdown menu end
.cards{
&__img{
  object-fit: cover;
  width: 350px;
  height: 300px;
  
  
  }
}
#photographers__photos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  justify-content: center;
}
.main__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.card__all {
  width: 29.1%;
  margin: 2% 20px 2% 20px;
  padding: 0.3rem;
  
}
  .photographs__pictures{
      width: 350px;
      height: 300px;
      border-radius: 2%;
      object-fit: cover;
      cursor: pointer;
      & img{
        transition: transform 1s ease-in-out, opacity 0.1s 100ms;
      }
      &:hover{
      opacity: 0.9;
      }
  }
  .logoPlay{
    position: absolute;
    margin-top: 120px;
    width: 5rem;
    z-index: 3;
  }
  .photo__info{
    display: flex;
    width: 350px!important;
    justify-content: space-between;
}

  .photo__title{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    
  }
  .photo__price{
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
    white-space: nowrap;
    margin-left: auto;
    margin-right: 15px;
  }
  .photo__likes{
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
    white-space: nowrap;
  }

  .fontIcon{
    font-size: 25px;
    font-weight: 400;
    color: #901C1C;
    white-space: nowrap;
  }

  .infos__likes{
    position: fixed;
    bottom: 0;
    right: 2.5rem;
    background-color: #DB8876;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 2.5rem 1.2rem;
    width: 350px;
    border-radius: 0.5rem 0.5rem 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .lightbox-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: white;
    z-index: 10;
    overflow: auto;
    animation: lightbox2In 0.5s;
    justify-content: center;
  }
  .lightbox__container{
    & img{
      width: 100%;
      height : 1000px;
      object-fit: cover;
      box-sizing: border-box;
    }
  }
  .lightbox-content {
    margin: 1rem auto;
    max-width: 1253px;
    max-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    & button {
      border: none;
      cursor: pointer;
    }
  }
  .lightbox {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    &__close {
      width: 2rem;
      height: 2rem;
      background: url(../FishEye_Photos/times-solid.svg) center center / 100% 100% no-repeat;
      position: absolute;
      top: 1rem;
      right: -3.5rem;
      border: none;
      z-index: 12;
    }
    & button {
      border: none;
      cursor: pointer;
    }
  }
  .divLightbox {
    position: relative;
  }
  .lightbox__next,
  .lightbox__prev {
    background: url(../FishEye_Photos/chevron-left-solid.svg) center center / 1.5rem 2.4rem no-repeat;
    width: 1.2rem;
    height: 5rem;
    align-self: center;
    position: relative;
    top: -2rem;
    z-index: 11;
    margin: 0 1.5rem;
    padding: 0 1rem;
  }
  .lightbox__next {
    left: auto;
    right: 0;
    transform: rotate(180deg);
  }
  .lightbox__container li img {
    animation: lightbox2In 1s;
  }
  .lightboxItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .titleLightbox {
    color: #D3573C;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
  }
  .imageLightbox {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .videoLightbox {
    max-width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #playpause {
      font-size:1.5rem;
      font-weight:bold;
      color: #D3573C;
      background:white;
      padding: 0 1rem;
  }

  @media (max-width:1400px){
    .card__all {
      width: 25%;
      margin: 2% 40px 2% 40px;
      padding: 0.3rem;
    }
  }
  @media (max-width:1300px){
    .card__all {
      width: 30%;
      margin: 2% 70px 2% 70px;
      padding: 0.3rem;
    }
  }
  @media (max-width:1150px){
    .card__all {
      width: 30%;
      margin: 2% 70px 2% 70px;
      padding: 0.3rem;
    }
    .sect{
      &__btn{
        position: fixed;
    bottom: 2rem;
    left: 50%;
    margin-left: -85px;
    height: 35px;
    width: 170px;
    z-index: 5;
      }
    }
  }
  @media (max-width:1000px){
    .sect{
      &__name{
        width: 350px;
      }
    }
    .sect2{
      &__header{
        display: none;
      }
    }
    .infos__likes{
      display: none;
    }
  }
  @media (max-width:800px){
    .content {
      margin: 5% auto;
      animation-name: modalopen;
      animation-duration: var(--modal-duration);
      background: #DB8876;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      color: #000000;
      padding-top: 10px;
      width: 350px;
      height: 900px;
    }
    
    .modal-body {
      margin-left: 35px;
      margin-top: 30px;
    }
    .close {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 42px;
      height: 32px;
      opacity: 1;
      cursor: pointer;
      transform: scale(0.7);
    }
    .close:before,
    .close:after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 42px;
      width: 5px;
      background-color: #fff;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
    .btn-submit {
      background: #901C1C;
      display: block;
      margin-top: 80px;
      border-radius: 5px;
      width: 170px;
      height: 69px;
      margin-left: 55px;
      font-size: 18px;
      font-weight: 700;
      padding: 12px 52px;
      color: #FFFFFF;
      cursor: pointer;
      border: 0;
    }
  
    .text-control {
      width: 280px;
      border-radius: 5px;
      font-size: 50px;
      height: 68px;
      border: none;
      outline: none;
    }
    #message{
        height: 170px;
    }
    .formData[data-error]::after {
      content: attr(data-error);
      font-size: 0.4em;
      color: #e54858;
      display: block;
      margin-top: 7px;
      margin-bottom: 7px;
      text-align: right;
      line-height: 0.3;
      opacity: 0;
      transition: 0.3s;
    }
    .formData[data-error-visible="true"]::after {
      opacity: 1;
    }
    .formData[data-error-visible="true"] .text-control {
      border: 2px solid #e54858;
    }
    .mod-title{
        font-size: 2rem;
        font-weight: 400;
        margin-left: 35px;
    }
    #subject{
        width: 280px;
        height: 170px;
        font-size: 50px;
        border: none;
        outline: none;
    }
    .size{
        font-size: 30px;
        font-weight: 400;
        line-height: 46.87px;
    }
  }
  @media (max-width:600px){
    .sect{
      padding: 1rem 0.5rem;
      &__name{
        width: 150px;
        font-size: 2rem;
      }
      &__city{
        font-size: 1.2rem;
      }
      &__country{
        font-size: 1.2rem;
      }
      &__subtitles{
        font-size: 0.3rem;
      }
    }
    #photographer__photo{
  object-fit: cover;
    border-radius:50%;
    width: 130px;
    height: 130px;
    margin-right: 0px;
    margin-bottom: 60px;
}
  }

  @media (max-width:330px){
    #photographer__photo{
      object-fit: cover;
        border-radius:50%;
        width: 100px;
        height: 100px;
        margin-right: 0px;
        margin-bottom: 60px;
    }
  }