@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;300;400;500;700;900");
* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  max-width: 1340px;
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo {
  height: 39px;
  margin-left: 150px;
  margin-top: 20px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  height: 49px;
  width: 553px;
}

.header__navlink {
  margin-right: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #901C1C;
}

#scroll__div {
  position: fixed;
  display: block;
  top: -50px;
  left: 45%;
  right: 55%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

#scroll__topbtn {
  display: block;
  float: inline-end;
  border: none;
  outline: none;
  background-color: #DB8876;
  cursor: pointer;
  height: 30px;
  width: 182px;
  border-radius: 5px;
  font-size: 18px;
}

.section1__title {
  float: right;
  color: #901C1C;
  font-size: 36px;
  font-weight: 400;
  margin-top: -55px;
  margin-right: 70px;
}

#photographs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#photographs a {
  width: 25%;
  margin: 0 4%;
}

.card {
  width: 100%;
  margin: 0% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__name {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
}

.card__city {
  font-size: 13px;
  font-weight: 400;
  color: #901C1C;
}

.card__country {
  font-size: 13px;
  font-weight: 400;
  color: #901C1C;
}

.card__quote {
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  margin-top: 5px;
}

.card__price {
  font-size: 9px;
  font-weight: 400;
  color: #757575;
  margin-top: 5px;
}

.card__tag {
  font-size: 12px;
  font-weight: 400;
  color: #901C1C;
  margin-top: 5px;
}

@media (max-width: 800px) {
  #scroll__div {
    position: fixed;
    display: block;
    top: -50px;
    left: 30%;
    right: 70%;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
  }
  #scroll__topbtn {
    display: block;
    float: inline-end;
    border: none;
    outline: none;
    background-color: #DB8876;
    cursor: pointer;
    height: 30px;
    width: 182px;
    border-radius: 5px;
    font-size: 18px;
  }
  .section1__title {
    color: #901C1C;
    font-size: 14px;
    font-weight: 400;
    margin-top: -80px;
    margin-right: 0;
  }
  #photographs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    width: 100%;
    margin: 0% 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 50px;
  }
  .card__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card__name {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    white-space: nowrap;
  }
  .card__city {
    font-size: 13px;
    font-weight: 400;
    color: #901C1C;
  }
  .card__country {
    font-size: 13px;
    font-weight: 400;
    color: #901C1C;
  }
  .card__quote {
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    margin-top: 5px;
  }
  .card__price {
    font-size: 9px;
    font-weight: 400;
    color: #757575;
    margin-top: 5px;
  }
  .card__tag {
    font-size: 12px;
    font-weight: 400;
    color: #901C1C;
    margin-top: 5px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__logo {
    height: 39px;
    margin-top: 20px;
    margin-left: 0;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    width: 80%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .header__navlink {
    margin-right: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #901C1C;
  }
}

.sect__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 0px 100px;
}

.sect__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect__description {
  margin-top: -110px;
}

.sect__title {
  font-size: 64px;
  font-weight: 400;
  color: #D3573C;
}

.sect__titlenabeel {
  font-size: 61px;
  font-weight: 400;
  color: #D3573C;
}

.sect__title2 {
  color: #901C1C;
  font-weight: 400;
  font-size: 24px;
}

.sect__subtitle {
  color: #525252;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}

.sect__btn {
  background-color: #901C1C;
  color: white;
  border-radius: 5px;
  width: 170px;
  height: 69px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 100px;
}

.sect__photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 300px;
  margin-top: 120px;
}

.sect__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.sect__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sect__navlink {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #901C1C;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.content {
  margin: 5% auto;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: #000000;
  padding-top: 10px;
  width: 669px;
  height: 900px;
}

.modal-body {
  margin-left: 35px;
  margin-top: 30px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 42px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 42px;
  width: 5px;
  background-color: #fff;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-submit {
  background: #901C1C;
  display: block;
  margin-top: 30px;
  border-radius: 5px;
  width: 170px;
  height: 69px;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 52px;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
}

.text-control {
  width: 599px;
  border-radius: 5px;
  font-size: 50px;
  height: 68px;
  border: none;
  outline: none;
}

#message {
  height: 170px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.mod-title {
  font-size: 64px;
  font-weight: 400;
  margin-left: 35px;
}

#subject {
  width: 599px;
  height: 170px;
  font-size: 50px;
  border: none;
  outline: none;
}

.size {
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
}

.sect2__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  margin-top: 60px;
}

.dropdown__menu {
  background-color: #901C1C;
  color: white;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  width: 170px;
  height: 56.6px;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
}

.dropdown__option2 {
  border-top: white;
  border-bottom: 3px solid #0065FC;
}

.dropdown__arrow {
  position: absolute;
  margin-left: -20px;
  margin-top: 20px;
  color: white;
}

.dropdown:hover .dropdown__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.cards__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 300px;
}
/*# sourceMappingURL=import.css.map */